body{
    background: white;
    }
    
.carre{
    height: auto;
    background: brown;
    margin-right: auto;
   
    }

.text{
    flex-direction: row;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    top: -2%;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: 'Fjalla One', sans-serif;
      }
        
        
.textbis{
    flex-direction: row;
    display: grid;
    font-family: 'Hind', sans-serif;
    grid-template-columns: 100%;
    text-align: center;
    margin-top: -50px;
    padding: 3%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    }

.carre3{
   margin: auto;
   text-align: center;
   background: rgb(238, 175, 93);
   height: auto;
   margin-top: 5px;
   flex-direction: column;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
   }

.carre2{
   background: rgb(248, 160, 45);
   margin: auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
    
}

.carre4{
    background: khaki;
    width: auto;
    height: auto;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
}

.carre5{
margin: auto;
padding-top: 10px
width: 90%;
display: flex;
flex-flow: row wrap;
justify-content: center;
background-color: cornsilk;
border: 5px solid black;
}

.p2{
    text-align: justify;
    font-family: 'Hind', sans-serif;
    padding: 3%;
    font-size: 30px;
}

.oui{
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    display: flex;
}

.non{
    display: grid;
    grid-template-columns: 0,5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cv ny";
}

.cv{
    grid-area: cv;
    align-self: center;
    justify-self: center;
}

.newyork{
    grid-area: ny;
    align-self: center;
    justify-self: center;
}

.img{
    width: 240px;
    height: 60px;
    margin-top: 35px;
    margin-left: 55px;
    }
    
    
.img2{
    width: 130px;
    height: 130px;
    }
    
    
.img3{
    width: 115px;
    height: 115px;
    margin-left: 75px;
    margin-top: 10px;
    }
    
.img4{
    width: 125px;
    height: 125px;
    margin-left: 75px;
    }

.img5{
    width: 100%;
    margin-top: 10px
}

.img6{
    width: 200px;
    margin-top: 10px;
}

.img7{
    width: 100%;
    grid-column-start: 2;
    margin-top: 10px;
}

.p3{
font-weight: bold;
font-size: 25px;
font-family: 'Hind', sans-serif;
grid-column-start: 1;
margin-left: 7%;
}

.p1{
   font-size: 40px;
   text-align: center;
   font-family: 'Fjalla One', sans-serif;
   font-weight: bold;
  }
  
.p1-1{
    font-size: 40px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    
  }



  @media (min-width: 992px) {
        body{
            display: grid; 
            grid-template-columns: 1fr 1fr;  
        }
        .carre{
            width: 100%;
            grid-column: 1/-1;
        }
        .carre3{
            width: 100%;
            grid-column: 1/-1;
        }

        .p2{
            text-align: justify;
            padding: 3%;
            font-size: 40px;
        }

        .non{
            width: 100%;
            grid-column: 1/-1;
        }

        .carre2{
            width: 100%;
            grid-column: 1/-1;
        }

        .carre5{
            width: 99.7%;
            grid-column: 1/-1;   
        }

  }